
body{
    font-family: Arial, sans-serif;
    background:#2acf1e;
    margin:40px;
}

header{
    text-align: right;
}

section{
    background:white;
    padding:20px;
    margin-top:20px;
    border-radius:10px;
    border: 1px solid #f10d0d;
}